body{
    background-color: #101113;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;

}
aside{
    background-color: #1f2124;
    height: 100vh;
    width: 20%;
    text-align: center;
    
}
.header{
    display: flex;
    align-items: start;
    
}
.logo{
    width: 150px;
    
}
.sidebar{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.btn-side{
    padding: 20px;
    background-color: transparent;
    color: white;
    text-decoration: none;   
}
.sidebar .active{
    border-right: 5px solid red;
}
.btn-side:hover{
    background-color: rgb(44, 35, 35);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.left{
    display: flex;

}
.left div{
    background-color: rgb(48, 48, 48);
    padding: 15px;
    border: .2px solid rgb(31, 2, 2);
    margin: 5px;
    border-radius: 5px;
}
.left .active{
    background-color: red;
}
.left div:hover{
    background-color: red;
    cursor: pointer;

}

#search{
 border-radius: 25px;
 background-color: rgb(48, 48, 48);
 border: 0px;
 padding: 8px;
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.right *{
    margin-left: 5px;
    margin-right: 5px;
}
.right img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.container-lg{
    display: flex;
    flex-direction: column;
}
.card{
    height: 200px;
    width: 300px;
}
.card img{
    width: 100%;
    height: 100%;
}

.card{
    margin: 50px;
    padding: 20px;
    padding-bottom: 100px;
    height: 100px;
    width: 200px;
    background-color: #1f2124;
    border-radius: 5%;
}
.card:hover{
    margin-top: 40px;
}